*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #434345;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  
}
.logo{

}
.logo svg{
  font-size: 1.5rem;

} 
.logo span{
  font-size: 2rem;
  word-spacing: -5px;

}
.nav_section{
  display: flex;
  gap: 25px;
  font-size: 1.2rem;


}
.nav_section a{
  word-spacing: -3px;
  
}
.active{
  color: #58c56f;
}
.nav_section a:hover{
  color: #58c56f;
}