/* .footer{

  background-color:#343944;
  color: #9b9b9b;
  
  
}
h3{
  color: white;
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 3rem;

}
.footer .box-container .box a{
  color: #9b9b9b;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
}
.footer .box-container .box a i{
  color: rgb(21, 21, 46);
  padding-right: .5rem;
  transition: .2s linear;

}
.footer .box-container .box a:hover i{
  padding-right: 2rem;
}


/* .footer .credit{
 text-align:center;
 padding-top: 3rem;
 margin-top: 3rem;
 font-size: 2rem;

} */ 

.footer {
  background-color: #343944;
  color: #9b9b9b;
}

h3 {
  color: white;
}

.footer .box-container {
  display: flex; /* Change display property to flex */
  gap: 3rem;
  overflow-x: auto; /* Add overflow property for horizontal scrolling if needed */
}

.footer .box-container .box {
  flex: 1; /* Distribute available space equally among the items */
}

.footer .box-container .box a {
  color: #9b9b9b;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
}

.footer .box-container .box a i {
  color: rgb(21, 21, 46);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: auto; /* Move the credit to the bottom */
  font-size: 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 14px;
}

.footer-bottom span {
  margin-right: 20px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.social-icons a i {
  font-size: 18px;
}